body {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

@media (max-width: 390px) {
    body {
        font-size: 10px;
    }
}

.content {
    margin: 0 auto;
    width: 80%;
    background-color: rgb(231, 230, 227);
}

h1 {
    padding-top: 1rem;
    line-height: 2rem;
    text-align: center;
}

p {
    font-size: 1.5rem;
}

input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}


/* Accordion styles start*/

.mem {
    width: 100%;
    color: #787777;
    overflow: hidden;
}

.accordion:hover .mem {
    color: black
}

.mem-label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    cursor: pointer;
}

.mem-header {
    display: flex;
    padding: 0.25rem 1rem;
    justify-content: space-between;
    background: #FFFF73;
    font-weight: bold;
    transition: all 1s;
}

.mem-label:hover .mem-header {
    background: #FFFF00;
}

.state-icon {
    display: none;
    margin-top: 1.75rem;
    width: 1.5rem;
    height: 1.5rem;
    transition: all 1s;
}

.mem:hover .state-icon {
    transform: rotate(45deg);
}

.accordion:hover .state-icon {
    display: block;
}

.mem-content {
    margin: 0 auto;
    padding: 0 1rem;
    max-height: 0;
    transition: all 1s;
}

.mem:hover .mem-content {
    max-height: 100vh;
}

img {
    margin: 0.75rem 0;
    object-fit: cover;
    width: 100%;
}

input:checked~.mem-label>.mem-header {
    background: #FFFF00;
    color: black;
}

input:checked~.mem-label>.mem-content {
    max-height: 100vh;
}

input:checked~.mem-label>.mem-header>.state-icon {
    transform: rotate(45deg);
}


/* Accordion styles end*/